<div class="bullet-points">
  <ul>
    <li>
      <div class="image-wrap">
        <img src="/images/placeholder_square_small.svg">
      </div>
      <h2>This item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </li>
    <li>
      <div class="image-wrap">
        <img src="/images/placeholder_square_small.svg">
      </div>
      <h2>This item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </li>
    <li>
      <div class="image-wrap">
        <img src="/images/placeholder_square_small.svg">
      </div>
      <h2>This item</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
    </li>
  </ul>
</div>
