<ul class="cards">
  <li class="cards-box-wrap">
    <div class="card">
      <div class="card-image">
        <img src="../images/placeholder_wide.svg" alt="">
      </div>
      <div class="card-header">
        <h4>First Card</h4>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>
  </li>
  <li class="cards-box-wrap">
    <div class="card">
      <div class="card-image">
        <img src="../images/placeholder_wide.svg" alt="">
      </div>
      <div class="card-header">
        <h4>First Card</h4>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>
  </li>
  <li class="cards-box-wrap">
    <div class="card">
      <div class="card-image">
        <img src="../images/placeholder_wide.svg" alt="">
      </div>
      <div class="card-header">
        <h4>First Card</h4>
      </div>
      <div class="card-copy">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.</p>
      </div>
    </div>
  </li>
</ul>
