<div class="checkout-steps">
  <div class="checkout-line"></div>
  <div class="checkout-step">
    <p class="checkout-number">1</p>
    <p class="checkout-step-name">First</p>
  </div>
  <div class="checkout-step">
    <p class="checkout-number">2</p>
    <p class="checkout-step-name">Second</p>
  </div>
  <div class="checkout-step">
    <p class="checkout-number">3</p>
    <p class="checkout-step-name">Last</p>
  </div>
</div>
