<div class="dashboard">
  <div class="dashboard-item">
    <div class="dashboard-item-header">
      <h2>Header</h2>
      <div class="dashboard-item-header-detail">
        Last 60 days
      </div>
    </div>
    <div class="dashboard-item-content">
      <div class="dashboard-item-content-detail">
        <h2>32.0</h2>
        <p class="unit">Units</p>
        <p class="info">Info on this</p>
      </div>
      <div class="dashboard-item-content-detail">
        <h2>12.0</h2>
        <p class="unit">Units</p>
        <p class="info">Info on this</p>
      </div>
      <div class="dashboard-item-content-detail">
        <h2>2.0</h2>
        <p class="unit">Units</p>
        <p class="info">Info on this</p>
      </div>
      <div class="dashboard-item-content-detail">
        <h2>23</h2>
        <p class="unit">Units</p>
        <p class="info">Info on this</p>
      </div>
    </div>
  </div>
</div>
