<div class="drag-and-drop">
  <p>Drag the image into the rectangle:</p>
  <div id="drop-area" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
  <img id="drag1" src="/images/placeholder_square.svg" draggable="true" ondragstart="drag(event)">
  <img id="drag2" src="/images/placeholder_square.svg" draggable="true" ondragstart="drag(event)">
</div>
