<div class="whole-page-for-sticky-footer">
  <div class="nav"><i>(Content here above Flex Footer)</i></div>
  <footer class="footer-flex" role="contentinfo">
    <div class="footer-flex-primary">
      <div class="footer-flex-logo">
        <img src="../images/placeholder_square.svg" alt="Logo image">
      </div>
      <ul class="footer-flex-primary-menu">
        <li><a href="javascript:void(0)">About</a></li>
        <li><a href="javascript:void(0)">Contact</a></li>
        <li><a href="javascript:void(0)">Products</a></li>
      </ul>
    </div>
  </footer>
</div>
