<div class="hover-map">
  <div class="hover-item hover-item1" onmouseover="document.getElementById('hover-info1').style.display = 'block';" onmouseout="document.getElementById('hover-info1').style.display = 'none';"></div>
</div>
<div class="hover-map-info">
  <div id="hover-info1" style="display: none;">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
  </div>
</div>
