<div class="icon-menu">
  <ul>
    <li><a href="" class="icon one" rel="icon-menu1">One</a></li>
    <li><a href="" class="icon two" rel="icon-menu2">Two</a></li>
    <li><a href="" class="icon three" rel="icon-menu3">Three</a></li>
  </ul>
  <div class="icon-menu-contents">
    <div id="icon-menu1" class="icon-menu-content is-active">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia minus, sapiente ex unde. Doloremque alias, molestias, maiores velit est incidunt quae mollitia exercitationem in dolor dicta esse quia sint numquam.
    </div>
    <div id="icon-menu2" class="icon-menu-content">
      Lorem ipsum dolor sit amet, consectetur numquam.
    </div>
    <div id="icon-menu3" class="icon-menu-content">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia minus, sapiente ex unde. Doloremque alias, molestias, maiores velit est incidunt quae mollitia exercitationem in dolor dicta esse quia sint numquam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet accusantium, dicta ducimus, eius reiciendis necessitatibus voluptatum ea, impedit aut provident, id doloribus facere ad ex nulla earum eligendi officia asperiores!
    </div>
  </div>
</div>
