<div class="intro-text">
  <h2>This text here</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
  <a href="">Call to action</a>
</div>
