<ul class="logo-section">
  <li><img class="wide-logo" src="/images/placeholder_wide.svg" alt=""></li>
  <li><img class="square-logo" src="/images/placeholder_square.svg" alt=""></li>
  <li><img class="square-logo" src="/images/placeholder_square.svg" alt=""></li>
  <li><img class="wider-logo" src="/images/placeholder_wider.svg" alt=""></li>
  <li><img class="square-logo" src="/images/placeholder_square.svg" alt=""></li>
  <li><img class="wide-logo" src="/images/placeholder_wide.svg" alt=""></li>
</ul>
