<div class="login">
  <img src="/images/placeholder_square.svg" alt="Logo Image" class="login-logo">
  <label for="">Email</label>
  <input type="text">
  <label for="">Password</label>
  <a href="" class="forgot-password">Forgot password?</a>
  <input type="text">
  <button type="submit" class="login-button">Log In</button>
  <label class="remember-me">
    <input type="checkbox">
    Remember me
  </label>
</div>
