<div class="price-slider-wrap">
  <div class="price-slider" id="price-slider"></div>
  <input id="min_price" class="price-slider-input" type="text">
  <input id="max_price" class="price-slider-input" type="text">
</div>

<div class="price-slider-wrap">
  <div class="price-slider" id="price-slider2"></div>
  <input id="min_price2" class="price-slider-input" type="text">
  <input id="max_price2" class="price-slider-input" type="text">
</div>
