<div id="searchfield" class="search-bar">
  <form>
    <input type="text" name="currency" class="biginput" id="autocomplete">
    <button type="submit">
      <img src="../images/placeholder_square_small.svg" alt="Search Icon">
    </button>
  </form>
</div>
<div id="outputbox">
  <p id="outputcontent">Choose a currency and the results will display here.</p>
</div>
