<div id="searchfield" class="search-bar">
  <form>
    <input type="text" name="currency" class="biginput" id="autocomplete">
    <button type="submit">
      <img src="https://raw.githubusercontent.com/thoughtbot/empties/master/source/images/placeholder_small.png" alt="Search Icon">
    </button>
  </form>
</div>
<div id="outputbox">
  <p id="outputcontent">Choose a currency and the results will display here.</p>
</div>
