<table class="tables">
  <thead>
    <tr>
      <th class="table-image"></th>
      <th>Header Cell 2</th>
      <th>Header Cell 3</th>
      <th>Header Cell 4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-image"><img src="../images/placeholder_square_small.svg" alt=""></td>
      <td>Row 1 Cell 1</td>
      <td>Row 1 Cell 2</td>
      <td class="table-controls"><button>Confirm</button><button>Reject</button></td>
    </tr>
  </tbody>
</table>
