<div class="tooltip-map">
  <div class="tooltip-item item1">
    <div class="tooltip">
      <div class="tooltip-content">
        Item 1
      </div>
    </div>
  </div>
  <div class="tooltip-item item2">
    <div class="tooltip">
      <div class="tooltip-content">
        Item 2
      </div>
    </div>
  </div>
</div>
