<div class="landing-sidebar">
    <%= partial "navigation" %>

    <div class="container">
      <div class="main">
        <%= partial "hero" %>
        <%= partial "bullet_points" %>
      </div>
      <div class="sidebar">
        <h2>Title</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ipsam obcaecati cum ex ratione iure, odit sit explicabo velit quibusdam nemo, modi dolorum error ullam eos assumenda magnam, quos aliquam.</p>
      </div>
    </div>
</div>
