<div class="side-bar-layout">
  <div class="top-bar">
    <div class="top-bar-image">
      <img src="/images/placeholder_wide.svg">
    </div>
    <div class="top-bar-area">
      <h1>Project Name</h1>
      <a href="">hej</a>
    </div>
  </div>
    <div class="side-bar">
      <ul>
        <li><a href="" class="icon one">One</a></li>
        <li><a href="" class="icon two">Two</a></li>
        <li><a href="" class="icon three">Three</a></li>
        <li><a href="" class="icon four">Four</a></li>
        <li><a href="" class="icon five">Five</a></li>
      </ul>
      <div class="status">
        <h2>80%</h2>
      </div>
    </div>
    <div class="side-bar-main-area">
      <%= partial "accordion_tabs" %>
    </div>
</div>
